
div,form { margin:0; padding:0; }

h3,h4,h5 { text-align: center; padding: 0; margin: 0; font-family:icon,Georgia, sans-serif; }
h3 { font-size: xx-large; font-weight: bold; border-spacing : 1px ;margin : auto; }
h4 { font-size: x-large; font-weight: normal; }
h5 { font-size: large; font-weight: normal; }

input.sbutton,button,.cpbutton { border-top-color: #555555; border-left-color: #555555; border-right-color: #333333; border-bottom-color: #333333; border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px }
.cpbutton { padding: 0; font-size: 75%; }
button { vertical-align: middle; text-align: center; }
button img { display: block; }

.smallsbutton { font-size: 70%; padding: 0; border-top-color: #555555; border-left-color: #555555; border-right-color: #333333; border-bottom-color: #333333; border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px  }
.smallsel { font-size: 70%; padding: 0; }
.smallsel85 { font-size: 85%; padding: 0; }

hr { border: 1px solid #888888; }
.rbox { display: table; border: 2px solid #888888; border-radius: 10px; margin: 3px 2px 3px 1px; padding: 3px 6px 2px 6px; }
table.rbox td { border-radius: 10px; }

textarea { border-color: #444444 }

table,td { border-color: #cccccc; }
table.t1 tr td, table.t1wc tr td { text-align: center; }
tr.t1row2 { background-color: #cadce3; }

table.m1 { text-align: center; }
table.m1 tr td:first-child { text-align: right; }
table.m1 tr td:last-child { text-align: left; }

.pren { padding: 0; }
.pren table { width: 100%; border-radius: 10px; padding: 2px 0 2px 0; border-spacing: 0; text-align: center; }
.pren td:first-child, .pren td:last-child { width: 3px; }

table.buttonbar { width: 98%; }

select { background-color: #ffffff; }


.logout { font-size: x-small; padding: 1px; float: left; }
.logout a:link, .logout a:visited, .logout a:hover { color: #000000; }

#flogin { background: url("./img/logo.png") no-repeat right top; padding: 5px; line-height: 1.6; }

.bspacer { height: 6px; }
.linhbox { line-height: 1.5; }
.wsnowrap { white-space: nowrap; }

.colred { color: red; }
.colblu { color: blue; }


.txtcenter { text-align: center; }
.clearboth { clear: both; }
.floatleft { float: left; }
.smallfont { font-size: 80%; }
.xsmallfont { font-size: 70%; }


table.modres { border-collapse : collapse; max-width: 770px; margin: 0 2px 0 0; }
table.modres td { padding: 5px; }
table.modres td td { padding: 0; }
div.modres { max-width: 770px;  margin: 0 2px 0 0; padding: 2px 0 2px 4px; }

